{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@mynamespace": "./src"
        },
        "extensions": [".js", ".ts"]
      }
    ],
    [
      "babel-plugin-root-import",
      {
        "rootPathPrefix": "@/"
      }
    ]
  ]
}
